@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-VariableFont_wght.ttf') format('truetype-variations'),
    url('fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 200 1000;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --bg-color: Snow;
  --text-color: #333;

  --clipboardAlert-color: #fff;
  --clipboardAlert-bg-color: #333;

  --diagonal-header-bg-color: linear-gradient(45deg, #333 50%, #f0f0f0 50%);
  --diagonal-header-h1-bg-color: linear-gradient(45deg, #f0f0f0 50%, #333 50%);

  --link-color: black;
  --link-bg-color: linear-gradient(rgb(255, 172, 51), rgb(255, 172, 51));
  --link-hover-bg-color: rgba(0, 0, 0, 0);

  --footer-bg-color: #f0f0f0;

  --kbd-bg-color: transparent linear-gradient(to bottom, #f0f0f0, #fcfcfc) repeat scroll 0 0;
  --kbd-border-color: #c6c6c6;

  --th-bg-color: #c9e3fe;

  --link-hover-pdf: rgb(255, 172, 51);

  --toggleIntervalloIcon: #333;

  --box-bg-color: #f0f0f0;
  --before-after-bg-color: Snow;
}

body.dark-mode {
  --bg-color: #202225;
  --text-color: #f9f9f9;

  --clipboardAlert-color: #333;
  --clipboardAlert-bg-color: #f0f0f0;

  --quizModal-color: #333;

  --diagonal-header-bg-color: linear-gradient(-45deg, #333 50%, #f0f0f0 50%);
  --diagonal-header-h1-bg-color: linear-gradient(-45deg, #f0f0f0 50%, #333 50%);

  --filter: invert(100%);

  --link-color: #ddd;
  --link-bg-color: linear-gradient(rgb(0, 123, 255), rgb(0, 123, 255));
  --link-hover-bg-color: background: rgba(0, 0, 0, 0);

  --footer-bg-color: #333;

  --kbd-bg-color: transparent linear-gradient(to bottom, #333333, #3a3a3a) repeat scroll 0 0;
  --kbd-border-color: #565656;

  --th-bg-color: #03c03c;

  --link-hover-pdf: rgb(0, 123, 255);

  --toggleIntervalloIcon: #03c03c;

  --box-bg-color: #333;
  --before-after-bg-color: #202225;
}

body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid transparent;
  /* Фон только вокруг содержимого */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 3px solid transparent;
  background-clip: content-box;
}

ol {
  padding-left: 20px;
}

header {
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.diagonal-header {
  position: relative;
  overflow: hidden;
  background: var(--diagonal-header-bg-color);
}

.diagonal-header h1 {
  margin: 0;
  padding: 20px 0;
  color: transparent;
  background: var(--diagonal-header-h1-bg-color);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.darkmodeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.icon {
  display: none;
  cursor: pointer;
}

.light-mode-icon {
  display: block;
}

.dark-mode-icon {
  display: none;
}

nav a,
section.content a:not(.download-pdf),
footer a {
  background: rgba(0, 0, 0, 0) var(--link-bg-color) no-repeat scroll 50% 100% / 100% 2px padding-box border-box;
  text-decoration: none;
  color: var(--link-color);
  text-size-adjust: 100%;
  padding: 4px 2px;
  transition: background-size 0.1s ease;
}

nav a:hover,
section.content a:not(.download-pdf):hover,
footer a:hover {
  background-size: 100% 30%;
}

main {
  display: flex;
  flex-direction: column;
  /* Столбец для вертикального расположения */
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

.content:last-child {
  padding: 0 0 20px 0;
}

.content h2 {
  margin: 20px 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

.download-pdf {
  position: relative;
  text-decoration: none;
  color: #333;
  display: inline-block;
}

.download-pdf span {
  color: var(--text-color);
  border-bottom: 1px solid #dfdfdf;
  transition: border-bottom-color 0.3s ease;
}

.download-pdf:hover span {
  border-bottom: 1px solid var(--link-hover-pdf);
}

#pdfIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  /*  vertical-align: middle;
  filter: var(--filter);*/
}

nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  /* Скрытие маркеров списка */
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  /* Превращение элементов списка в строчные блоки */
  margin-right: 3px;
}

.languageSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 7px 0 7px;
}

.radioWrap {
  margin-right: 10px;
}

.radio {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.radio+.radio {
  margin-top: 5px;
}

.radio input {
  display: none;
}

.radio input+span {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  line-height: normal;
}

.radio input+span:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: normal;
}

.radio input+span:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #222;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  opacity: 0;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked+span:after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

#search {
  display: flex;
  justify-content: center;
  /* Выравнивание элементов по центру */
  margin: 0 20px 20px;
}

/* Вместо text-align: center; для выравнивания с удалением лишних отступов у inline-элементов, создаваемых браузером */
#buttonWrap {
  display: flex;
  justify-content: center;
  margin: 7px;
}

#iconWrap {
  display: flex;
  align-items: center;
}

#iconWrap svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#buttonWrap button {
  margin: 3px 3px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

#inputWrap {
  position: relative;
  display: inline-block;
}

.modal {
  color: #333;
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#modalHeader {
  cursor: move;
  background-color: rgb(0, 123, 255);
  color: #fff;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* .close справа */
  position: relative;
}

.modal h4 {
  font-size: 1.1em;
}

.modal ul li a {
  color: #333;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  margin-right: 3px;
  padding-bottom: 3px;
}

.modal ul li a:hover {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.5);
}

.modal ul {
  padding-left: 5px;
  list-style-type: none;
}

.modal ul li {
  position: relative;
  padding-left: 10px;
  margin-left: 0;
}

.modal ul li::before {
  content: "•";
  position: absolute;
  left: 0;
}

.close {
  cursor: pointer;
  margin-right: 10px;
}

#history {
  padding: 10px;
}

#history li.current::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
}

.input,
.composer {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  width: 90vw;
  /* Ширина поля ввода в зависимости от ширины окна просмотра */
}

.input {
  max-width: 400px;
  /* Максимальная ширина поля ввода */
}

.composer {
  font-size: 1em;
  max-width: 250px;
}

.input:focus,
.composer:focus {
  border-color: #aaa;
}

/* Максимальная высота выпадающего списка ui-autocomplete */
.ui-autocomplete {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.clear-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.clear-input:hover {
  opacity: 1;
}

#search-res span,
#rand span {
  font-weight: bold;
}

#search-res i,
#rand i,
#content i {
  color: #03c03c;
  cursor: help;
}

#pdfIcon,
.tool-icon {
  vertical-align: middle;
  filter: var(--filter);
}

#playPauseIcon {
  filter: var(--filter);
}

#copyButton,
#playButton,
#playButtonRandom {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#copyButton {
  width: 16px;
  height: 16px;
}

#playButton,
#playButtonRandom,
#audioPlayer {
  width: 24px;
  height: 24px;
}

#clipboardAlert {
  max-width: 300px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--clipboardAlert-bg-color);
  color: var(--clipboardAlert-color);
  border-radius: 5px;
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

#clipboardAlertContainer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* Центрирует содержимое по горизонтали */
  z-index: 2;
}

.hidden-content {
  display: none;
}

.show-hidden-content {
  white-space: nowrap;
}

.visible {
  display: inline;
}

/* Контейнер для поля поиска на странице Условные сокращения */
.searchWrap {
  position: relative;
  max-width: 300px;
  margin: 20px 0;
}

#fullscreenWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/xv.png);
  background-color: #fff;
  z-index: 9999;
  overflow-y: auto;
  padding: 80px 20px 20px;
  box-sizing: border-box;
}

#fullscreenContent {
  background-color: #fff;
  color: #333;
  max-width: 80%;
  padding: 20px;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Контейнер для поля поиска в полноэкранном окне */
#search-container {
  position: fixed;
  display: flex;
  top: 10px;
  /* 100% - 80% (ширина #fullscreenContent) = 20% / 2 = 10% + 13px (подгонка) */
  left: calc(10% + 13px);
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: auto;
}

.input-container {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  width: 100%;
}

.input-search {
  width: 100%;
  display: block;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  color: #555;
  padding: 10px 30px 10px 34px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input-search:focus {
  border-color: #aaa;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  color: #333;
}

.clear-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  visibility: hidden;
  color: #333;
}

.button-container {
  display: inline-flex;
  margin-left: 5px;
  flex-grow: 1;
  align-items: center;
  width: auto;
}

.icons {
  display: inline-flex;
  flex-grow: 1;
}

.chevron {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.chevron:hover {
  color: #666;
}

#toggle-language {
  width: 42px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-left: 2px;
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggle-language:hover {
  background-color: #0056b3;
}

#closeFullscreenButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#closeFullscreenButton svg {
  width: 24px;
  height: 24px;
  color: #000;
}

.highlight,
.currentWord {
  border-radius: 3px;
}

.highlight {
  background-color: yellow;
  box-shadow: 0 0 0 3px yellow;
}

.currentWord {
  background-color: orange;
  box-shadow: 0 0 0 3px orange;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0 10px;
}

.box-container .box {
  width: 100%;
  background-color: var(--box-bg-color);
  padding: 0.5rem;
  position: relative;
  text-align: center;
}

.box-container .box>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.box-container .box svg {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  /* Отступ между иконкой и текстом */
}

.box-container .box:before,
.box-container .box:after,
.box-container p:before,
.box-container p:after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--before-after-bg-color);
  position: absolute;
}

.box-container .box:before {
  top: 0;
  left: 0;
  border-bottom-right-radius: 100%;
}

.box-container .box:after {
  bottom: 0;
  right: 0;
  border-top-left-radius: 100%;
}

.box-container p {
  padding: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.35;
  color: var(--text-color);
}

.box-container p:before {
  top: 0;
  right: 0;
  border-bottom-left-radius: 100%;
}

.box-container p:after {
  bottom: 0;
  left: 0;
  border-top-right-radius: 100%;
}

.box-container .icon {
  width: 48px;
  height: 48px;
}

.box-container svg path {
  color: var(--text-color);
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 0 0 20px;
}

table td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
  width: 100%;
}

table th {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: var(--th-bg-color);
  text-align: left;
}

/* На странице Как пользоваться словарём */
.hotkey-container {
  display: inline-block;
}

kbd {
  padding: 1px 6px;
  background: var(--kbd-bg-color);
  border-color: var(--kbd-border-color);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: var(--text-color);
}

/* Случайный термин */
.blockquote {
  padding-left: 10px;
  border-left: 5px solid #03c03c;
}

.random-icon {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 3px;
  animation: rotateOnce 1s linear;
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.running {
  animation-play-state: running !important;
}

.paused {
  animation-play-state: paused !important;
}

/* Quiz */
#quiz-container {
  margin-bottom: 20px;
}

#quiz-container h2 {
  text-align: center;
}

/* Базовые стили для кнопок */
#quiz-container button {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: white;
}

#quiz-container button:hover {
  background-color: #4CAF50;
  color: white;
}

#quiz-container button:active {
  background-color: #45a049;
}

#quiz-result {
  text-align: center;
}

.answer-btn {
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: top;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
}

.revealing {
  animation: reveal 0.5s ease forwards;
}

.quizModalWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--quizModal-color);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
}

.quizModal {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 80%;
  z-index: 1000;
}

.quizModalClose,
.flipButton {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
}

/* Для анимации при открытии и закрытии модального окна */
.quizModalWrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizModal.active {
  animation: modalFadeIn 0.3s forwards;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#intervalloButtonWrap .intervalloBtn {
  background-color: #ff008d;
}

#intervalloButtonWrap .intervalloBtn:hover {
  background-color: #ff008d;
}

#intervalloButtonWrap .intervalloBtn:active {
  background-color: #f50087;
}

#intervalloButtonWrap {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#intervalloButtonWrap button {
  margin: 0 2px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: white;
}

#intervalloButtonWrap button:hover {
  background-color: #4CAF50;
  color: white;
}

#intervalloButtonWrap button:active {
  background-color: #45a049;
}

#intervallo {
  text-align: center;
}

/* Спиннер */
.loading::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-left: 5px;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Стили для обертки переключателя */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Скрытый чекбокс */
.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #007bff;
  transition: .4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

.toggle-switch input:checked+.slider::before {
  transform: translateX(24px);
}

.before-content,
.after-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.before-content {
  left: -41px;
}

.after-content {
  right: -26px;
}

.before-content svg {
  width: 34px;
  height: 35px;
}

.after-content svg {
  width: 19px;
  height: 35px;
}

.before-content svg,
.after-content svg {
  vertical-align: middle;
  fill: var(--toggleIntervalloIcon);
}

#composers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.card {
  position: relative;
  max-width: 250px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 18px;
  transform-style: preserve-3d;
  transition: 1.5s ease;
  margin-bottom: 10px;
  padding: 10px;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  background-color: white;
  border-top: 8px solid #b89675;
  border-right: 8px solid #a37f5b;
  border-bottom: 8px solid #bf9573;
  border-left: 8px solid #a67c52;
}

.card .card-content {
  transform-style: preserve-3d;
  transition: 1s ease;
}

.card .back,
.card .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card .front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-image: url(images/composers/bg.jpg);
}

.card .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Размещение внизу */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  transform: rotateY(.5turn);
}

.card p,
.flipButton {
  transform: translateZ(100px);
}

#overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Размещение внизу */
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateZ(50px);
}

.card p {
  font-size: 0.9em;
  line-height: 1.2em;
}

.card .front p,
.card .back p {
  padding: 5px;
}

#containerBtn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.composerButton {
  padding: 10px 20px;
  margin-right: 5px;
  /* отступ между кнопкой и иконкой */
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: white;
}

.composerButton:hover {
  background-color: #4CAF50;
}

.composerButton:active {
  background-color: #45a049;
}

#audioPlayer {
  display: flex;
  align-items: center;
}

#audioPlayer img {
  cursor: pointer;
}

.footer {
  background-color: var(--footer-bg-color);
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.4);
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-copyright {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 10px;
  /* Расстояние между элементами списка */
}

@media (max-width:600px) {

  #fullscreenWindow {
    padding-top: 113px;
  }

  #fullscreenContent {
    max-width: 100%;
    padding: 10px;
  }

  #search-container {
    width: calc(100% - 40px);
    left: 20px;
    top: 5px;
    flex-direction: column;
    align-items: stretch;
  }

  .input-container {
    width: 100%;
    margin-bottom: 5px;
  }

  .button-container {
    display: flex;
    margin-top: 5px;
  }

  .icons {
    display: flex;
  }

  #toggle-language {
    margin-left: auto;
  }

  .closeFullscreen {
    top: 5px;
    right: 5px;
  }

  .box-container {
    flex-direction: column;
    width: 100%;
  }

  .box-container .box {
    max-width: 100%;
  }

}

@media (max-width:768px) {

  .diagonal-header h1 {
    font-size: 1.5em;
    /* Уменьшение размера шрифта для мобильных устройств */
    word-wrap: break-word;
    /* Перенос текста на новую строку */
  }

  .content h2 {
    font-size: 1.3em;
  }

  svg.icon {
    width: 26px;
    height: 26px;
  }

  #buttonWrap button {
    margin: 2px 2px;
    padding: 3px 6px;
    font-size: 14px;
  }

  #quiz-container h2 {
    font-size: 1.2em;
  }

  #quiz-container button {
    padding: 5px;
    font-size: 1em;
  }

  #intervalloButtonWrap button {
    padding: 8px;
    font-size: 14px;
  }

  table thead {
    display: none;
  }

  table tr:not(:last-child) {
    display: block;
    border: 1px solid #e8e9eb;
    margin-bottom: 10px;
  }

  table td {
    display: block;
    border: none;
    padding: 7px;
    border: 1px solid #ccc;
  }

  table td::before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }

  .footer-inner {
    flex-direction: column;
    align-items: flex-start;
  }

}

@media (max-width:1050px) {

  .input-search {
    width: 100%;
    float: none;
  }

}