/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  color: #333;
  background-color: Snow;
  transition: color 0.5s ease, background-color 0.5s ease;
}

header {
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

header h1 {
  margin: 0;
}

.diagonal-header {
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #333 50%, #f0f0f0 50%);
}

.diagonal-header h1 {
  margin: 0;
  padding: 20px;
  color: transparent;
  background: linear-gradient(45deg, #f0f0f0 50%, #333 50%);
  -webkit-background-clip: text;
  background-clip: text;
}

a {
  background-position: 50% 100%;
  text-decoration: none;
  color: black;
  text-size-adjust: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 172, 51), rgb(255, 172, 51)) no-repeat scroll 50% 100% / 100% 2px padding-box border-box;
  padding: 4px 2px;
  transition: background-size 0.1s ease 0s;
}

a:hover {
  background-size: 100% 30%;
}

main {
  display: flex;
  flex-direction: column;  /* Столбец для вертикального расположения */
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

nav ul {
  list-style: none;  /* Скрытие маркеров списка */
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;  /* Превращение элементов списка в строчные блоки */
  margin-right: 20px;  /* Отступы между пунктами меню */
  ;
}

#buttonWrap {
  text-align: center;
  margin: 14px 7px 7px;
}

#buttonWrap button {
  margin: 3px 3px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

#search {
  display: flex;
  justify-content: center;  /* Выравнивание элементов по центру */
  margin: 0 20px 20px;
}

/* Максимальная высота выпадающего списка ui-autocomplete */
.ui-autocomplete {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#search-res span {
  font-weight: bold;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  outline: none;
  max-width: 400px;  /* Максимальная ширина поля ввода */
  width: 90vw;  /* Ширина поля ввода в зависимости от ширины окна просмотра */
  ;
}

.input:focus {
  border-color: #007bff;
}

#inputWrap {
  position: relative;
  display: inline-block;
}

.clear-input {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.clear-input:hover {
  opacity: 1;
}

.content:last-child {
  padding: 0 0 20px 0;
}

.content h2 {
  text-align: center;
}

.footer {
  background-color: #f0f0f0;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.4);
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-copyright {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

/* При переносе строки текста иконка svg будет всегда оставаться рядом с ним*/
#copyButton {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  visibility: hidden;
}

#copyButton svg {
  position: absolute;
  top: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#clipboardAlertContainer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;  /* Центрирует содержимое по горизонтали */
  z-index: 2;
}

#clipboardAlert {
  max-width: 300px;
  padding: 10px 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

/* Dark mode */
body .darkmode {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dark-mode .diagonal-header {
  position: relative;
  overflow: hidden;
  background: linear-gradient(-45deg, #333 50%, #f0f0f0 50%);
}

.dark-mode .diagonal-header h1 {
  margin: 0;
  padding: 20px;
  color: transparent;
  background: linear-gradient(-45deg, #f0f0f0 50%, #333 50%);
  -webkit-background-clip: text;
  background-clip: text;
}

.dark {
  display: none;
}

.dark-mode {
  background-color: #202225;
  color: #f9f9f9;
}

.dark-mode a {
  color: #ddd;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(0, 123, 255), rgb(0, 123, 255)) no-repeat scroll 50% 100% / 100% 2px padding-box border-box;
}

.dark-mode a:hover {
  background-size: 100% 30%;
}

.dark-mode .box_title h1::after {
  background-color: #03c03c;
}

.dark-mode .clear-input {
  color: #333;
}

.dark-mode footer {
  background-color: #333;
}

.dark-mode table th {
  background-color: #03c03c;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 0 0 1rem;
}

table td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
  width: 100%;
}

table th {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #c9e3fe;
  text-align: left;
}

.input-search {
  background-image: url('images/search.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 1em;
  padding: 10px 20px 10px 50px;
  border: 1px solid #ddd;
  color: #555;
  display: block;
  font-style: normal;
  font-weight: 300;
  outline: 0;
  margin-bottom: 12px;
  transition: all ease-out 0.2s;
}

.input-search:focus {
  outline: none;
  border-color: #aaa;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 10px;  /* Расстояние между элементами списка */
  ;
}

@media (max-width:1050px) {
  .input-search {
    width: 100%;
    float: none;
  }

}

@media (max-width:768px) {
  header h1 {
    font-size: 0.8em;    /* Уменьшение размера шрифта для мобильных устройств */
    word-wrap: break-word;    /* Перенос текста на новую строку */
    ;
  }

  .light svg, .dark svg {
    width: 26px;
    height: 26px;
  }

  #buttonWrap button {
    margin: 2px 2px;
    padding: 3px 6px;
    font-size: 14px;
    cursor: pointer;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    border: 1px solid #e8e9eb;
    margin-bottom: 1rem;
  }

  table td {
    display: block;
    border: none;
    padding: 7px;
    border: 1px solid #ccc;
  }

  table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }

  .footer-inner {
    flex-direction: column;
    align-items: flex-start;
  }

}